DATABASE_URL="postgresql://user:password@localhost:5432/promotions_db"
PORT=3000
NODE_ENV=development

# API Security
API_SECRET_TOKEN=your-secret-token-here

# Amazon API
AMAZON_ACCESS_KEY=
AMAZON_SECRET_KEY=
AMAZON_PARTNER_TAG=

# Mercado Livre API
MERCADOLIVRE_CLIENT_ID=
MERCADOLIVRE_CLIENT_SECRET=
MERCADOLIVRE_ACCESS_TOKEN=
